/* general style */

@font-face {
    font-family: 'vazir';
    /*تعریف یک نام برای فونت*/
    src: url('fonts/vazir-font-v16.1.0/Vazir.eot');
    /*اکسپلورر 9 به بعد*/
    src: local('vazir'), /*بررسی نصب بودن فونت در سیستم کاربر*/
    local('vazir'), /*برای برخی از مرورگرها مانند سافاری*/
    url('fonts/vazir-font-v16.1.0/Vazir.eot?#iefix') format('embedded-opentype'), /*هک برای اکسپلورر 8 و ماقبل*/
    url('fonts/vazir-font-v16.1.0/Vazir.woff') format('woff'), /*مرورگر های جدید*/
    url('fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype'), /*تمام مرورگرها به جزء اکسپلورر*/
    url('fonts/vazir-font-v16.1.0/Vazir.svg#Vazir') format('svg');
    /*نسخه های قدیمی سیستم عامل iOS*/
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body {
    overflow: visible;
}


/* navigation bar */

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
}

.nav-mob {
    cursor: pointer;
    display: none;
}

.nav-mob div {
    background-color: royalblue;
    width: 18px;
    height: 3px;
    margin: 2px;
}

.nav-container button {
    border: none;
    color: rgb(77, 172, 255);
    background-color: rgb(230, 243, 255);
    height: 2.5em;
    width: 10em;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}

.nav-container button:hover {
    background-color: rgb(174, 206, 236);
}

.nav-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.nav-container ul li {
    padding: 1rem;
}

.nav-container ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 0.8em;
}

.nav-container ul li a:hover {
    color: #173264;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 7em;
    width: 12vw;
    font-size: 0.8em;
}

.logo img {
    max-width: 30%;
    height: auto;
}

.logo p {
    direction: rtl;
    line-height: 1.8em;
    font-size: 0.8em;
}

.logo p span {
    font-size: 2em;
    font-weight: bold;
}

.nav-container-mob {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 92vh;
    background-color: white;
    padding: 1em 3em;
}

.nav-container-mob-active {
    display: flex;
}

.fix-body {
    overflow: hidden;
}

.nav-container-mob ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 70%;
    width: 100%;
    border-bottom: 1px solid royalblue;
}

.nav-container-mob ul li {
    padding-right: 0.8em;
}

.nav-container-mob ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 1em;
}

.nav-container-mob button {
    border: none;
    color: rgb(77, 172, 255);
    background-color: rgb(230, 243, 255);
    padding: 1em 3em;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}

#current-page {
    border-right: 3px solid blue;
}

#current-page a {
    color: crimson;
}

@media screen and (max-width:894px) {
    .nav-container ul {
        width: 65%;
    }
    .nav-container ul li a {
        font-size: 0.8em;
    }
    .nav-container button {
        height: 2.5em;
        width: 10em;
    }
    .logo {
        height: 5em;
        width: 11em;
        font-size: 0.6em;
    }
    .logo p span {
        font-size: 1.5em;
        font-weight: bold;
    }
}

@media screen and (max-width:624px) {
    .nav-container {
        justify-content: space-between;
    }
    .nav-mob {
        display: inline-block;
        margin-left: 1.5em;
    }
    .nav-container button {
        display: none;
    }
    .nav-container ul {
        display: none;
    }
    .logo {
        margin-right: 2em;
    }
}

@keyframes nav-animation {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgb(212, 226, 240);
    }
    100% {
        background-color: white;
    }
}


/* section 1 */

.sec-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
    height: 75vh;
}

.sec-1-background {
    position: absolute;
    right: 60%;
    transform: scale(1.5);
}

.sec-1 img {
    max-width: 40%;
    height: auto;
}

.sub-sec-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sub-sec-1 h1 {
    margin: 0.5em 0;
}

.sub-sec-1 p {
    margin: 0.5em 0;
}

.sub-sec-1-btn {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
}

.sub-sec-1-btn-firstchild {
    border: 1px solid rgb(61, 119, 173);
    border-radius: 6px;
    background-color: white;
    color: rgb(35, 145, 145);
    cursor: pointer;
    height: 2.5em;
    width: 10em;
    margin: 0.5em;
}

.sub-sec-1-btn-scondchild {
    border: 1px solid rgb(149, 207, 220);
    border-radius: 6px;
    background-color: rgb(149, 207, 220);
    color: white;
    cursor: pointer;
    height: 2.5em;
    width: 10em;
    margin: 0.5em;
}

@media screen and (max-width:691px) {
    .sec-1 {
        flex-direction: column;
    }
    .sec-1-background {
        display: none;
    }
    .sub-sec-1 {
        align-items: center;
    }
    .sub-sec-1-btn {
        flex-direction: column;
    }
}


/* section 2 */

.sec-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10vw;
    margin-top: 5vh;
    ;
}

.sec-2>img {
    max-width: 30%;
    height: auto;
}

.sub-sec-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.sub-sec-2 h2 {
    margin-bottom: 1em;
    color: rgb(56, 100, 209);
    border-right: 3px solid rgb(56, 100, 209);
    border-radius: 2px;
    padding-right: 0.5em;
}

.sub-sec-2 p {
    direction: rtl;
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.sub-sec-2-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sub-sec-2-img img {
    max-width: 20%;
    height: auto;
}

.temp {
    width: 100%;
    height: 600px;
    background-color: crimson;
}

@media screen and (max-width:691px) {
    .sec-2 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .sub-sec-2 {
        margin-top: 2em;
    }
    .sub-sec-2-img {
        display: none;
    }
    .sec-2>img {
        max-width: 60%;
        height: auto;
    }
}


/* section 3 */

.sec-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 10fr;
    grid-gap: 2em;
    margin-top: 20vh;
    padding: 0 10vw;
}

.sec-3-box-1 {
    grid-column: 1/6;
    justify-self: end;
    color: rgb(56, 100, 209);
}

.sec-3-box-2 {
    grid-column: 1/4;
}

.sec-3-box-2>h3 {
    direction: rtl;
    margin-bottom: 1em;
}

.sec-3-box-2>p {
    direction: rtl;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1.5em;
    font-size: 0.9em;
}

.sec-3-box-2>div {
    /* border-right: 2px solid rgb(92, 87, 87); */
}

.sec-3-box-2>div>div {
    /* border-right: 2px solid rgb(92, 87, 87); */
    position: relative;
}

.sec-3-box-2>div h5 {
    direction: rtl;
    padding-top: 1.5em;
    padding-right: 1em;
    font-size: 1em;
    border-right: 2px solid rgb(92, 87, 87);
}

.sec-3-box-2>div p {
    direction: rtl;
    padding-right: 3em;
    border-right: 2px solid rgb(92, 87, 87);
    font-size: 0.9em;
}

#third-step {
    border: none;
}

.down1 {
    position: absolute;
    right: -15px;
    top: -1px;
    /* display: none; */
}

.down2 {
    position: absolute;
    right: -15px;
    top: 8px;
    /* display: none; */
}

.checked {
    position: absolute;
    right: -20px;
    top: 16px;
    transform: scale(0.7);
    /* display: none; */
}

.sec-3-box-3 {
    grid-column: 4/6;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    grid-gap: 1em;
    justify-items: end;
    align-items: start;
}

.sec-3-box-3 div {
    /* background-color: chocolate; */
}

.sec-3-box-3 img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width:691px) {
    .sec-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 50vh 70vh;
        grid-gap: 2em;
        margin-top: 20vh;
        padding: 0 10vw;
    }
    .sec-3-box-1 {
        grid-column: 1/2;
        justify-self: end;
    }
    .sec-3-box-2 {
        grid-column: 1/2;
        grid-area: 3 / 1 / 4 / 2;
    }
    .sec-3-box-3 {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 1em;
        /* background-color: cyan; */
        justify-items: center;
        align-items: center;
        grid-area: 2 / 1 / 3 / 2;
    }
    .sec-3-box-3>div {}
    .sec-3-box-3 img {
        max-width: 100%;
        height: auto;
    }
}


/* section 4 */

.sec-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20vh;
    background-color: rgb(2, 137, 255);
    padding: 6em 6em 0em 2em;
}

.sec-4 img {
    max-width: 50%;
    height: auto;
}

.sub-sec-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 45%;
}

.sub-sec-4 h3 {
    direction: rtl;
    color: white;
    margin-bottom: 1em;
}

.sub-sec-4 p {
    direction: rtl;
    color: white;
    margin-bottom: 2em;
}

.input-num {
    direction: rtl;
    margin-bottom: 2em;
    padding: 0.4em 0.5em;
    background-color: white;
    border-radius: 5px;
}

.input-num input {
    border: none;
}

.input-num button {
    background-color: rgb(2, 137, 255);
    border: none;
    padding: 0.5em 1.2em;
    border-radius: 10px;
    color: white;
}

.sec-4-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 2em;
}

.sec-4-labels img {
    max-width: 25%;
    height: auto;
    margin-left: 1em
}

@media screen and (max-width:691px) {
    .sec-4 {
        flex-direction: column-reverse;
        padding: 6em 2em 0em 2em;
        align-items: center;
    }
    .sec-4 img {
        max-width: 80%;
        height: auto;
    }
    .sub-sec-4 {
        max-width: 90%;
    }
    .sub-sec-4 h3 {}
    .sub-sec-4 p {}
    .input-num {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.4em 0.5em;
    }
    .input-num input {
        min-width: 75%;
    }
    .sec-4-labels {
        flex-direction: column;
        margin: auto;
        margin-top: 2em;
    }
    .sec-4-labels img {
        margin-bottom: 1em;
    }
}


/* section 5 */

.sec-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20vh 10vw 2vh 10vw;
    background-color: white;
    padding: 3em 3em 0em 1em;
    border-radius: 20px;
    box-shadow: rgba(151, 167, 187, 0.2) 0px 7px 29px 0px;
}

.sec-5 img {
    max-width: 40%;
    height: auto;
}

.sub-sec-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 55%;
}

.sub-sec-5 h3 {
    direction: rtl;
    color: rgb(68, 109, 185);
    margin-bottom: 1em;
    border-right: 3px solid rgb(24, 160, 24);
    border-radius: 2px;
    padding-right: 1em;
}

.sub-sec-5 p {
    direction: rtl;
    color: rgb(155, 155, 155);
    margin-bottom: 2em;
    text-align: justify;
    text-justify: inter-word;
}

.input-num-5 {
    direction: rtl;
    margin-bottom: 2em;
    padding: 0.4em 0.5em;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
}

.input-num-5 input {
    border: none;
    background-color: rgb(232, 232, 232);
}

.input-num-5 button {
    background-color: rgb(2, 137, 255);
    border: none;
    padding: 0.5em 1.2em;
    border-radius: 10px;
    color: white;
}

@media screen and (max-width:691px) {
    .sec-5 {
        flex-direction: column;
        align-items: center;
        padding: 3em 1em 1em 1em;
    }
    .sec-5 img {
        max-width: 60%;
        height: auto;
    }
    .sub-sec-5 {
        max-width: 90%;
        margin-top: 2em;
        align-items: center;
    }
    .sub-sec-5 h3 {}
    .sub-sec-5 p {}
    .input-num-5 {}
    .input-num-5 input {
        max-width: 62%;
    }
    .input-num-5 button {
        max-width: 35%;
        font-size: 0.7em;
    }
}


/* section 6 */

.sec-6 {
    display: flex;
    flex-direction: row;
    margin-top: 10em;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    padding: 1.5em 4em;
}

.sec-6 img {
    max-width: 30%;
    height: auto;
}

.sec-6 p {
    max-width: 60%;
    margin-left: auto;
    margin-right: 2em;
    color: white;
    font-size: 0.7em;
}

.sec-6 h4 {
    max-width: 20%;
    color: white;
}

@media screen and (max-width:691px) {
    .sec-6 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .sec-6 img {
        max-width: 60%;
        height: auto;
    }
    .sec-6 p {
        max-width: 70%;
        color: white;
        font-size: 0.7em;
        margin: auto;
        margin-bottom: 1.5em;
    }
    .sec-6 h4 {
        max-width: 60%;
        color: white;
        margin-bottom: 1.5em;
    }
}